<nav>
  <ul>
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/estudiantes']">Estudiantes</a></li>
    <li><a [routerLink]="['/materias']">Materias</a></li>
    <li><a [routerLink]="['/contacto']">Contacto</a></li>
  </ul>
</nav>

<div id="widget_clima" class="d-block">
  <span>
    <h3>Clima Hoy</h3>
  </span>
  <div class="flex">
    <div class="ciudad">
      <div>Ciudad</div>
      <h4><b>{{climaHoy.name}}</b></h4>
    </div>
    <div class="temperatura">
      <div>Temperatura</div>
      <h4>{{climaHoy.main.temp}} Gº</h4>
    </div>
  </div>
</div>
