nav ul li {
  list-style: none;
  font-size: 1rem;
  padding: 10px;
}

nav li a {
    list-style: none;
    color: unset;
    text-decoration: none;
    transition: all 5s ease;
    -webkit-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -ms-transition: all 5s ease;
    -o-transition: all 5s ease;
}
nav li a:hover {

  text-decoration: underline 5px;
}
#widget_clima {
  padding: 20px;
}
#widget_clima h3:first-child {
  font-weight:600;
  font-size: 1.2rem;
}
#widget_clima .temperatura, .ciudad {
  width: 50%;
}

#widget_clima div div:first-child {
  font-weight: 300;
  font-size: 1rem;
}
